body {
	overflow-x:hidden;
	margin:0 auto;
	background-color:#f9f9f9;
}

/*----------------------------------
	MENU PRINCIPAL
------------------------------------*/
.color{
	background-color:#F4F4F4;
	padding-bottom:5px;
}

.Menu {
	max-width:960px;
	margin:0 auto;
}

.Menu img {
	margin-top:3px;
}

.Menu ul {
	list-style:none;
	float:right;
	margin-top:-4.7%;
}

.Menu ul li {
	display:inline-block;
	padding:0px 7px 0px 7px;
	font-family:novaz;
	font-size:12pt;
}

.Menu ul li a {
	text-decoration:none;
	color:#8F8F8F;

}

.Menu ul li a:hover{
	color:#2E2E2E;
	text-shadow:none;
}

.Menu ul .active a:link, .Menu ul .active a:visited{
	color:#2E2E2E;
}

/*----------------------------------
	CONTENIDO
------------------------------------*/

.title{
	max-width:960px;
	margin:25px auto 0px auto;
	font-size:16pt;
	font-family:novac;
	color:#414141;
}

.hrx{
	width:1000px;
	background-color:#382F2B;
	border-color:#382F2B;
	color:#382F2B;
}

.txtF{
	margin-bottom:2px;
	font-family:nova;
	font-size:14pt;
	padding-left:5px;
}

table{
	max-width:960px;
	margin:0 auto;
}

table tr td{
	padding:0px 15px;
}

input{
	height:30px;
	border-radius:5px;
	border-style:solid;
	border-color:#C5C5C5;
	font-family:novac, fontawesome;
	font-size:12pt;
	font-weight:bold;

}

textarea{
	max-width:960px;
	margin:0 auto;
	font-family:novac, fontawesome;
	font-size:12pt;
	font-weight:bold;
	border-radius:5px;
}

.button{
	height:50px;
	width:130px;
	background-color:#848482;
	border-radius:5px;
	margin:0 auto;
}

.next{
	font-family:novac;
	font-size:14pt;
	padding-top:10%;
	margin-left:19%;
	color:white;
}

.back{
	font-family:novac;
	font-size:14pt;
	padding-top:10%;
	margin-right:-40%;
	color:white;
}

#arrowB{
	font-size:12pt;
	margin-left:10%;
}

#arrow{
	font-size:12pt;
	margin-left:-9%;
}

.button:hover{
	background-color:#5C5C5A;
}

a{
	text-decoration:none;
}
/*----------------------------------
	FOOTER
------------------------------------*/

.footer {
	background-color:#1B1B1B;
	margin-top:20px;
}

footer {
	max-width:940px;
	margin:0 auto;
	padding-top:20px;
}

footer a{
	color:#8F8F8F;
	font-size:18pt;
	padding:0 1px;
}

footer .social a:hover{
	color:#2E2E2E;
	font-size:18pt;
}

footer img {
	margin-top:-40px;
	margin-bottom:20px;
}

footer span {
	float:right;
	margin-top:-70px;
	margin-right:20px;
}

footer span a {
	font-size:18pt;
}

footer .up a:hover{
	font-size:18pt;
	color:#7F7F7F;
}

footer hr {
	border-color:gray;
}

footer .pFoot {
	font-size:9pt;
	font-family:effraStd;
	margin-top:20px;
	margin-bottom:4px;
	color:#5B5B5A;
}

footer .name{
	font-size:9pt;
	font-family:effraStd;
	text-decoration:none;
	color:#9A9A99;
	font-weight:bold;
}

footer .name:visited {
	font-size:9pt;
	font-family:effraStd;
	text-decoration:none;
}

footer .name:hover {
	color:#F0FFFF;
}