body {
	overflow-x:hidden;
	margin:0 auto;
}

/*----------------------------------
	BODY
------------------------------------*/

.title{
	text-align:center;
	margin:15% auto;
	font-size:20pt;
	font-family:novac;
	color:#414141;
}

.load{
	text-align:center;
	margin:-13.9% auto 0px auto;
	font-size:18pt;
	font-family:novac;
	color:#414141;
}